<div class="board">
  <app-field-corner></app-field-corner>
  <app-field-player [boardIndex]="0" [fieldIndex]="0"></app-field-player>
  <app-field-player [boardIndex]="0" [fieldIndex]="1"></app-field-player>
  <app-field-player [boardIndex]="0" [fieldIndex]="2"></app-field-player>
  <app-field-corner></app-field-corner>
  <app-field-player [boardIndex]="3" [fieldIndex]="0"></app-field-player>
  <app-field-villager></app-field-villager>
  <app-field-villager></app-field-villager>
  <app-field-villager></app-field-villager>
  <app-field-player [boardIndex]="1" [fieldIndex]="0"></app-field-player>
  <app-field-player [boardIndex]="3" [fieldIndex]="1"></app-field-player>
  <app-field-villager></app-field-villager>
  <app-field-villager></app-field-villager>
  <app-field-villager></app-field-villager>
  <app-field-player [boardIndex]="1" [fieldIndex]="1"></app-field-player>
  <app-field-player [boardIndex]="3" [fieldIndex]="2"></app-field-player>
  <app-field-villager></app-field-villager>
  <app-field-villager></app-field-villager>
  <app-field-villager></app-field-villager>
  <app-field-player [boardIndex]="1" [fieldIndex]="2"></app-field-player>
  <app-field-corner></app-field-corner>
  <app-field-player [boardIndex]="2" [fieldIndex]="0"></app-field-player>
  <app-field-player [boardIndex]="2" [fieldIndex]="1"></app-field-player>
  <app-field-player [boardIndex]="2" [fieldIndex]="2"></app-field-player>
  <app-field-corner></app-field-corner>
</div>
